body {
    margin: 100px;
}

.product {
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 3px dashed blue ;
}

h1{
    color: blueviolet;
    text-align: center;
}

.btn-property {
    float: right;
    margin-right: 10px;    
}
